.home-container{
  display: flex;
  height: 100vh;
}

.sidebar{
  flex-basis: 20%;
  background-color: var(--dark-background);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar .title{
  background-color: var(--sidebar-title);
  color: var(--selected-button-text);
  height: 70px;
}

.sidebar .title p{
  font-weight: 900;
  font-size: 35px;
  margin-top: 10px;
}

.collection-holder{
  color: var(--selected-button-text); 
  font-weight: 900;
}

.collection-holder ul{
  padding: 14px;
}

.collection-holder li{
  margin-bottom: 5px;
  cursor: pointer;
}

.collection-holder li:hover{
  color: var(--highlight-button);
}

.builder-holder{
  color: var(--selected-button-text); 
  background-color: var(--highlight-button);
  font-weight: 900;
}

.builder-holder p{
  cursor: pointer;
}

.builder-holder p:hover{
  color: var(--highlight-button);
}

.main-container{
  flex-basis: 80%;
  height: 100%;
}

.title{
  background-color: var(--title-background);
  color: var(--title-color);
  font-weight: 700;
  font-size: 30px;
  height: 70px;
}

.title p{
  margin-top: 10px;
}

.content-holder{
  display: flex;
  flex-basis: 100%;
  height: 100vh;
}

.content-holder .content-type-holder{
  flex-basis: 20%;
  background-color: var(--mid-background);
}

.selected-content{
  flex-basis: 80%;
  background-color: var(--light-background);
  display: flex;
  flex-direction: column;
}

.meta-data{
  display: flex;
}

.add-content-type{
  width:100%;
  height: 70px;
  border-radius: 7px;
  border: 1px dashed var(--button-text-1);
  color: var(--button-text-1);
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 15px;
}

.content-type{
  width:100%;
  height: 70px;
  border-radius: 7px;
  color: var(--form-text);
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 15px;
}

.content-type:hover{
  background-color: var(--selected-button);
  color: var(--selected-button-text);
}

.selected-content .profile-title{
  font-weight: 700;
  font-size: 30px;
  color: var(--title-color);
}

.form-container{
  position: fixed;
  z-index: 500;
  box-shadow: 1px 1px 1px black;
  left: 0%;
  top: 0%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  padding: 0px;
  border: none;
  background: none;
}

.content-form{
  width: 50%;
  height: 50%;
  position: fixed;
  top: 20%;
  left: 20%;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-form input{
  width: 80%;
  height: 60px;
  margin-bottom: 10px;
}

.button-container{
  display: flex;
}

.button-container button{
  width: 100px;
  height: 50px;
  margin: 10px;
}

.error{
  color: red;
  font-weight: 700;
}