body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --light-background: #4c63aa;
  --mid-background: #38497e;
  --dark-background: rgb(39, 39, 39);
  --highlight-text: darkblue;
  --selected-button-text: #f5f5f5;
  --selected-button: darkblue;
  --form-text: rgb(119, 119, 119);
  --sidebar-title: rgb(79,33,198);
  --highlight-button: rgb(0,0,0);
}

.basic-padding {
  padding: 10px 20px;
}

.basic-margin {
  margin: 10px;
}
