body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --light-background: rgb(235, 238, 253);
  --mid-background: rgb(212, 214, 228);
  --dark-background: rgb(39, 39, 39);
  --button-text-1: rgb(77, 64, 206);
  --selected-button-text: #f5f5f5;
  --selected-button: rgb(79, 33, 198);
  --form-text: rgb(119, 119, 119);
  --sidebar-title: rgb(79, 33, 198);
  --highlight-button: rgb(0, 0, 0);
  --title-background: rgb(255, 255, 255);
  --title-color: rgb(79, 79, 79);
  --field-type-color: rgb(122, 147, 247);
}

.basic-padding {
  padding: 10px 20px;
}

.basic-margin {
  margin: 10px;
}
